/* 
// FONT TEMPLATE
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.aleo-<uniquifier> {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

} */

html {
  font-size: 10px;
}

body {
  font-family: "Aleo", serif;
}

.how-it-works {
  display: grid;
  grid-template-rows: max-content 1fr 1fr 1fr;
  justify-items: center;
}

.card h4,
.card p {
  text-align: center;
}

.card h4 {
  /* border: red 1px solid; */
  font-size: 1.9rem;
  margin-bottom: 0;
}
.give-us-a-call p {
  margin-top: 0.9rem;
  /* border: red 1px solid; */
  font-weight: bolder;
}

.footer {
  padding: 10px;
  height: 250px;
  background-color: #f0f1f1;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
.footer-colunm {
  display: flex;
  flex-direction: column;
}
.footer-nav {
  display: block;
  padding: 0;
  list-style-type: none;
}
.socials-link {
  text-decoration: none;
  color: #000;
}
.email-link {
  color: #000;
}
.colunms-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.separator {
  width: 80%;
}
